html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.banner {
  height: 10%;
}

.header {
  margin-top: 20px;
  display: flex;
  height: 55px;
  border-bottom: 3px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  h1 {
    flex-basis: 90%;
    text-align: end;
    font-size: 2.5rem;
    text-transform: uppercase;
    order: 1;
  }
  svg {
    flex-basis: 10%;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  figure {
    margin: 0;
    figcaption {
      margin-bottom: 15px;
    }
    h3, p {
      margin: 0;
    }
  }
}






